body{
	min-width:1147px;
	background: rgb(238, 238, 238);
}

.main {
	top: 51px;
	padding-top: 30px;	
	padding-left: 40px;
}

.row {
	padding:15px;
}

.progress-bar {
	position: relative !important;
}

div .divider {
	width: 100%;
	border-bottom: 1px solid rgb(200, 200, 200);
}

#YaHei{
	font-family:"Microsoft YaHei";
	padding-bottom: 10px;
}

.page-header {
	margin-top: 0px;
	border-bottom: 1px solid rgb(168, 168, 168);
}

#dashboard-table{
	height:254px;
}

#dashboard-table-scroll{
	overflow:scroll; 
	height:240px; 
}

#container-highcharts{
	min-width: 310px; 
	height: 400px; 
	margin: 0 auto
}
hr{
	margin: 5px;
}
form label {
	font-weight:normal; 
} 

#modelParameter {
	min-height: 400px;
}

.no-padding .widget-body-toolbar {
	background: #ffffff;
}