.form-group {
	min-height: 32px;
}

table {
	max-height: 40px;
}

.dt-wrapper {
	overflow: auto;
}

.dt-parameter {
	max-height: 800px; 
}

.dt-model {
	max-height: 350px; 
}

.dt-table {
	max-height: 230px;
}

th {
	min-width: 50px;
}