<div class="page-header">
    <h1 id="YaHei">Input&Output</h1>
</div>
<div class="bs-docs-section" style="text-align:center">
    <button type="file" class="btn btn-primary">导入文件</button>
    <button type="button" class="btn btn-primary">导出文件</button>
    <table class="table table-striped" style="margin:0 auto; width:70%; margin-top:30px">
      <tbody>
        <tr>
          <td>导入设备系列数</td>
          <td>100</td>
        </tr>
        <tr>
          <td>导入协议数</td>
          <td>10</td>
        </tr>
        <tr>
          <td>导入设备数</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>导入模板数</td>
          <td>5000</td>
        </tr>
        <tr>
          <td>导入处理方案数</td>
          <td>50</td>
        </tr>
        <tr>
          <td>导入模板参数数</td>
          <td>2000</td>
        </tr>
      </tbody>
    </table>
</div>