<div class="page-header">
    <h1 id="YaHei"><i class="glyphicon glyphicon-book"></i> 协议字典
        <span>&gt; 协议模板</span>
    </h1>
</div>
<div class="jarviswidget jarviswidget-sortable" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget" style="">
    <header role="heading">
        <h2 id="YaHei">协议模板</h2>
    </header>
    <div role="content">
        <form class="form-horizontal">
            <div class="widget-body no-padding">
                <div class="row">
                    <fieldset class="col-md-12 col-xs-12">
                        <legend>基本属性</legend>
                        <div class="form-group">
                            <label for="inputNumber" class="col-md-2 control-label">模板编号</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputNumber" placeholder="请输入...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-2 control-label">模板名称</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputName" placeholder="请输入...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputClass" class="col-md-2 control-label">模板解析类</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputClass" placeholder="请输入...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputParameter" class="col-md-2 control-label">模板解析参数</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputParameter" placeholder="请输入...">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="divider"></div>
                <div class="row" id="modelParameter">
                    <div class="col-md-12 col-xs-12">
                        <fieldset class="col-md-6 col-xs-6" ondrop="drop1(event)" ondragover="allowDrop1(event)">
                            <legend>关联模板参数</legend>
                            <div class="progress progress-striped active">
                              <div class="progress-bar progress-bar-success" style="width: 35%">35%</div>
                              <div class="progress-bar progress-bar-warning" style="width: 20%">20%</div>
                              <div class="progress-bar progress-bar-danger" style="width: 10%">10%</div>
                              <div class="progress-bar progress-bar-info" style="width: 35%">35%</div>
                            </div>
                            <div class="dt-wrapper">
                                <table class="table table-bordered table-striped table-condensed table-hover smart-form">
                                    <thead>
                                        <tr>
                                            <th>参数顺序</th>
                                            <th>参数编号</th>
                                            <th>参数名称</th>
                                            <th>参数类型</th>
                                            <th>参数长度</th>
                                        </tr>
                                    </thead>
                                    <tbody id="newparameter">
                                        <tr class='emptytable'>
                                            <td>1</td><td></td><td></td><td></td><td></td>
                                        </tr>
                                        <tr class='emptytable'>
                                            <td>2</td><td></td><td></td><td></td><td></td>
                                        </tr>
                                        <tr class='emptytable'>
                                            <td>3</td><td></td><td></td><td></td><td></td>
                                        </tr>
                                        <tr class='emptytable'>
                                            <td>4</td><td></td><td></td><td></td><td></td>
                                        </tr>
                                        <tr class='emptytable'>
                                            <td>5</td><td></td><td></td><td></td><td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">模板标识</label>
                                <div class="col-md-5">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio1">
                                            <span>公有标识</span> 
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio1">
                                            <span>唯一标识</span> 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">模板长度</label>
                                <div class="col-md-5">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio2">
                                            <span>固定长度</span> 
                                        </label>
                                    </div>
                                    <div class="radio" >
                                        <label>
                                            <input type="radio" name="radio2">
                                            <span>非固定长度</span> 
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-md-6 col-xs-6">
                            <legend>现有模板参数列表</legend>
                            <div class="widget-body-toolbar">
                            </div>
                            <div id="dt_basic_wrapper" class="dt_wrapper form-inline">
                                <div class="dt-top-row">
                                    <div class="dataTables_filter" id="dt_basic_filter">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
                                            </span>
                                            <input class="form-control" placeholder="Filter" type="text" aria-controls="dt_basic" ng-model="query1">
                                        </div>
                                        <button class="btn btn-default" ng-click="add1()">新增</button>
                                    </div>
                                </div>
                                <div class="dt-wrapper dt-model" >
                                    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" id="checkall" ng-click="checkall($event.target)">
                                                        <i></i>
                                                    </label>
                                                </th>
                                                <th>参数编号</th>
                                                <th>参数名称</th>
                                                <th>参数类型</th>
                                                <th>参数长度</th>
                                            </tr>
                                        </thead>
                                        <tbody id="oldparameter">
                                            <!--此处替换模板，每个tr元素需要有一个独特的id-->
                                            <tr id="{{parameter.num}}" draggable="true" ondragstart="drag1(event)" ng-repeat="parameter in parameters|filter:query1">
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-click="check($event.target)">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>{{parameter.num}}</td>
                                                <td>{{parameter.name}}</td>
                                                <td>{{parameter.type}}</td>
                                                 <td>{{parameter.length}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row" id="modelParameter">
                    <div class="col-md-12 col-xs-12">
                        <fieldset class="col-md-6 col-xs-6" ondrop="drop2(event)" ondragover="allowDrop2(event)">
                            <legend>模板预处理方案</legend>
                            <div class="progress progress-striped active">
                              <div class="progress-bar progress-bar-success" style="width: 35%">35%</div>
                              <div class="progress-bar progress-bar-warning" style="width: 20%">20%</div>
                              <div class="progress-bar progress-bar-danger" style="width: 10%">10%</div>
                            </div>
                            <div class="dt-wrapper">
                                <table class="table table-bordered table-striped table-condensed table-hover smart-form">
                                    <thead>
                                        <tr>
                                            <th>参数顺序</th>
                                            <th>参数编号</th>
                                            <th>参数名称</th>
                                            <th>参数类型</th>
                                            <th>参数长度</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">模板标识</label>
                                <div class="col-md-5">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio1">
                                            <span>公有标识</span> 
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio1">
                                            <span>唯一标识</span> 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">模板长度</label>
                                <div class="col-md-5">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radio2">
                                            <span>固定长度</span> 
                                        </label>
                                    </div>
                                    <div class="radio" >
                                        <label>
                                            <input type="radio" name="radio2">
                                            <span>非固定长度</span> 
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="col-md-6 col-xs-6">
                            <legend>现有模板预处理方案</legend>
                            <div class="widget-body-toolbar">
                            </div>
                            <div id="dt_basic_wrapper" class="dt_wrapper form-inline">
                                <div class="dt-top-row">
                                    <div class="dataTables_filter" id="dt_basic_filter">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
                                            </span>
                                            <input class="form-control" placeholder="Filter" type="text" aria-controls="dt_basic" ng-model="query2">
                                        </div>
                                        <button class="btn btn-default" ng-click="add()">新增</button>
                                    </div>
                                </div>
                                <div class="dt-wrapper">
                                    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" id="checkall" ng-click="checkall($event.target)">
                                                        <i></i>
                                                    </label>
                                                </th>
                                                <th>参数编号</th>
                                                <th>参数名称</th>
                                                <th>参数类型</th>
                                                <th>参数长度</th>
                                            </tr>
                                        </thead>
                                        <tbody id="oldmodel">
                                            <!--此处替换模板，每个tr元素需要有一个独特的id-->
                                            <tr id="{{scheme.num}}" draggable="true" ondragstart="drag2(event)" ng-repeat="scheme in schemes|filter:query2">
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" ng-click="check($event.target)">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>{{scheme.num}}</td>
                                                <td>{{scheme.name}}</td>
                                                <td>{{scheme.parameter}}</td>
                                                <td>{{scheme.classname}}</td>
                                                <td>{{scheme.type}}</td>
                                                <td class="hidden">
                                                    <input type='text' placeholder="请输入参数">
                                                </td>
                                            </tr>
                                            <tr ng-repeat="scheme in emptyschemes">
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox-inline" disabled='true'>
                                                    </label>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="hidden"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
var allowDrop1 = function(ev) {
    ev.preventDefault();
};
var drag1 = function(ev) {
    ev.dataTransfer.setData("Text", ev.target.id);
};
var drop1 = function(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    var dom = document.getElementById(data);
    var oldlength = $('#oldparameter').find('tr').length;
    var newlength = $('.emptytable').length;
    var length = $("#newparameter").children().length - newlength + 1;
    $($(dom).find("td")[0]).html(length.toString());
    if (newlength > 0) {
        $($('.emptytable')[0]).html($(dom).html());
        $($('.emptytable')[0]).removeClass('emptytable');
        $(dom).remove();
    } else {
        $("#newparameter").append(dom);
    }
};
var changeParameter1 = function() {
    var selected = $("#inputParameter").val();
    if (selected == 3) {
        $('#inputCondition').attr("disabled", "disabled");
        $('#inputUnit').attr("disabled", "disabled");
    } else {
        $('#inputCondition').removeAttr("disabled");
        $('#inputUnit').removeAttr("disabled");
    };
};
var submitForm = function() {
    window.location.href = "#/parameter";
    $(".form-horizontal")[0].submit();
}
</script>