<div class="page-header">
	<h1 id="YaHei"><i class="glyphicon glyphicon-book"></i> 协议字典<span>&gt; 协议模板</span></h1>
</div>
<div class="jarviswidget jarviswidget-sortable" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">
	<header role="heading">
		<h2 id="YaHei">协议模板</h2>
	</header>
	<div role="content">
		<form class="form-horizontal">
			<div class="widget-body no-padding">
				<div class="row">
					<fieldset class="col-md-12 col-xs-12">
						<legend>基本属性</legend>
						<div class="form-group">
							<label for="inputNumber" class="col-md-2 control-label">模板编号</label>
							<div class="col-md-5">
								<input type="text" class="form-control" id="inputNumber" placeholder="请输入...">
							</div>
						</div>
						<div class="form-group">
							<label for="inputName" class="col-md-2 control-label">模板名称</label>
							<div class="col-md-5">
								<input type="text" class="form-control" id="inputName" placeholder="请输入...">
							</div>
						</div>
						<div class="form-group">
							<label for="inputClass" class="col-md-2 control-label">模板解析类</label>
							<div class="col-md-5">
								<input type="text" class="form-control" id="inputClass" placeholder="请输入...">
							</div>
						</div>
						<div class="form-group">
							<label for="inputParameter" class="col-md-2 control-label">模板解析参数</label>
							<div class="col-md-5">
								<input type="text" class="form-control" id="inputParameter" placeholder="请输入...">
							</div>
						</div>
					</fieldset>
				</div>
				<div class="divider"></div>
				<div class="row" id="modelParameter">
					<div class="col-md-12 col-xs-12">
						<fieldset class="col-md-6 col-xs-6" ondrop="drop1(event)" ondragover="allowDrop1(event)">
							<legend>关联模板参数</legend>
							<div class="progress progress-striped active" style="overflow:visible;"></div>
							<div class="row dt-wrapper dt-table">
								<table class="table table-bordered table-striped table-condensed table-hover smart-form">
									<thead>
										<tr>
											<th style="padding-right: 20px;">参数顺序</th>
											<th>参数编号</th>
											<th>参数名称</th>
											<th>参数类型</th>
											<th>参数长度</th>
										</tr>
									</thead>
									<tbody id="newparameter">
										<tr class='emptytable'>
											<td>1</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class='emptytable'>
											<td>2</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class='emptytable'>
											<td>3</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class='emptytable'>
											<td>4</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr class='emptytable'>
											<td>5</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">模板标识</label>
								<div class="col-md-9">
									<div class="radio">
										<label class="col-md-4">
											<input type="radio" name="radio1">
											<span>公有标识</span>
										</label>
										<div class="col-md-8">
											<select id="common" name="common" class="form-control" style="height:30px;">
												<option value="">--请选择--</option>
											</select>
										</div>
									</div>
									<div class="radio">
										<label class="col-md-4">
											<input type="radio" name="radio1">
											<span>唯一标识</span>
										</label>
										<div class="col-md-8">
											<select id="unique" name="unique" class="form-control" style="height:30px;">
												<option value="">--请选择--</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">模板长度</label>
								<div class="col-md-9">
									<div class="radio">
										<label class="col-md-4">
											<input type="radio" name="radio2">
											<span>固定长度</span>
										</label>
										<div class="col-md-8">
											<input type="text" name="static" class="form-control" style="height:30px;" onclick="calculate()">
										</div>
									</div>
									<div class="radio">
										<label class="col-md-4">
											<input type="radio" name="radio2">
											<span>非固定长度</span>
										</label>
										<div class="col-md-8">
											<input type="text" name="varied" class="form-control" style="height:30px;">
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset class="col-md-6 col-xs-6">
							<legend>现有模板参数列表</legend>
							<div class="widget-body-toolbar">
							</div>
							<div id="dt_basic_wrapper" class="dt_wrapper form-inline">
								<div class="dt-top-row">
									<div class="dataTables_filter" id="dt_basic_filter">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
											</span>
											<input class="form-control" placeholder="Filter" type="text" aria-controls="dt_basic" ng-model="query1">
										</div>
										<button class="btn btn-default" ng-click="add1()">新增</button>
									</div>
								</div>
								<div class="dt-wrapper dt-model">
									<table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
										<thead>
											<tr>
												<th>
													<label class="checkbox">
														<input type="checkbox" name="checkbox-inline" id="checkall" ng-click="checkall($event.target)">
														<i></i>
													</label>
												</th>
												<th>参数编号</th>
												<th>参数名称</th>
												<th>参数类型</th>
												<th>参数长度</th>
											</tr>
										</thead>
										<tbody id="oldparameter">
											<!--此处替换模板，每个tr元素需要有一个独特的id-->
											<tr id="{{parameter.num}}" draggable="true" ondragstart="drag1(event)" ng-repeat="parameter in parameters|filter:query1">
												<td>
													<label class="checkbox">
														<input type="checkbox" name="checkbox-inline" onclick="check(this)">
														<i></i>
													</label>
												</td>
												<td>{{parameter.num}}</td>
												<td>{{parameter.name}}</td>
												<td>{{parameter.type}}</td>
												<td>{{parameter.length}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="divider"></div>
				<div class="row" id="modelScheme">
					<div class="col-md-12 col-xs-12">
						<fieldset class="col-md-6 col-xs-6" ondrop="drop2(event)" ondragover="allowDrop2(event)">
							<legend>模板预处理方案</legend>
							<div class="dt-wrapper dt-table">
								<table class="table table-bordered table-striped table-condensed table-hover smart-form">
									<thead>
										<tr>
											<th style="padding-right: 20px;">方案顺序</th>
											<th>方案类型</th>
											<th>方案名称</th>
											<th>模板参数</th>
											<th>处理参数</th>
										</tr>
									</thead>
									<tbody id="newscheme">
										<tr class='emptytable'>
											<td>1</td>
											<td></td>
											<td></td>
											<td></td>
											<td>
												<input type='text' placeholder="请输入参数">
											</td>
										</tr>
										<tr class='emptytable'>
											<td>2</td>
											<td></td>
											<td></td>
											<td></td>
											<td>
												<input type='text' placeholder="请输入参数">
											</td>
										</tr>
										<tr class='emptytable'>
											<td>3</td>
											<td></td>
											<td></td>
											<td></td>
											<td>
												<input type='text' placeholder="请输入参数">
											</td>
										</tr>
										<tr class='emptytable'>
											<td>4</td>
											<td></td>
											<td></td>
											<td></td>
											<td>
												<input type='text' placeholder="请输入参数">
											</td>
										</tr>
										<tr class='emptytable'>
											<td>5</td>
											<td></td>
											<td></td>
											<td></td>
											<td>
												<input type='text' placeholder="请输入参数">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</fieldset>
						<fieldset class="col-md-6 col-xs-6">
							<legend>现有模板预处理方案</legend>
							<div class="widget-body-toolbar">
							</div>
							<div id="dt_basic_wrapper" class="dt_wrapper form-inline">
								<div class="dt-top-row">
									<div class="dataTables_filter" id="dt_basic_filter">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
											</span>
											<input class="form-control" placeholder="Filter" type="text" aria-controls="dt_basic" ng-model="query2">
										</div>
										<button class="btn btn-default" ng-click="add2()">新增</button>
									</div>
								</div>
								<div class="dt-wrapper">
									<table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
										<thead>
											<tr>
												<th>
													<label class="checkbox">
														<input type="checkbox" name="checkbox-inline" id="checkall" ng-click="checkall($event.target)">
														<i></i>
													</label>
												</th>
												<th>方案类型</th>
												<th>方案名称</th>
												<th>模板参数</th>
												<th class="hidden">处理参数</th>
											</tr>
										</thead>
										<tbody id="oldscheme">
											<!--此处替换模板，每个tr元素需要有一个独特的id-->
											<tr id="{{scheme.num}}" draggable="true" ondragstart="drag2(event)" ng-repeat="scheme in schemes|filter:query2">
												<td>
													<label class="checkbox">
														<input type="checkbox" name="checkbox-inline" onclick="check(this)">
														<i></i>
													</label>
												</td>
												<td>{{scheme.type}}</td>
												<td>{{scheme.name}}</td>
												<td>{{scheme.parameter}}</td>
												<td class="hidden">
													<input type='text' placeholder="请输入参数">
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="form-actions" style="margin-bottom:0px;">
				<a class="btn btn-default" href="#/model/reset">重置</a>
				<button class="btn btn-primary" ng-click="submitForm()">确认</button>
			</div>
		</form>
	</div>
</div>
<script src="../js/model.js"></script>